<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.3">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>branch</name>
          <description>Choose your branch</description>
          <defaultValue>master</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>clean</name>
          <description>Clean build before process</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>mvnAction</name>
          <description>Maven phase
e.g.:
install
deploy
compile</description>
          <defaultValue>install</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>logDebug</name>
          <description>Log in debug level</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.plugins.matrix__configuration__parameter.MatrixCombinationsParameterDefinition plugin="matrix-combinations-parameter@1.0.7">
          <name>Nodes</name>
          <description></description>
        </hudson.plugins.matrix__configuration__parameter.MatrixCombinationsParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.gmail.ikeike443.PlayAutoTestJobProperty plugin="play-autotest-plugin@0.0.12"/>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.2.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@codebasehq.com:galaxysemi/galaxy_dev/galaxy_dev.git</url>
        <credentialsId>817fb73b-67ab-486e-baf4-e70918587b71</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/${branch}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <gitTool>myGit</gitTool>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CloneOption>
        <shallow>true</shallow>
        <reference></reference>
        <timeout>120</timeout>
      </hudson.plugins.git.extensions.impl.CloneOption>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <customWorkspace>workspace/galaxy_dev/${branch}</customWorkspace>
  <axes>
    <hudson.matrix.LabelAxis>
      <name>label</name>
      <values>
        <string>centos58-32</string>
        <string>centos58-64</string>
        <string>centos6-32</string>
        <string>centos6-64</string>
        <string>mac64</string>
        <string>win7-32</string>
        <string>win7-64</string>
      </values>
    </hudson.matrix.LabelAxis>
  </axes>
  <builders>
    <hudson.tasks.Shell>
      <command>if [[ ! $nodes =~ $NODE_NAME ]]; then
    echo &quot;This node is not in target list. Won&apos;t do anything!&quot;
    exit 0;
fi

if [ &quot;${logDebug}&quot; = &quot;true&quot; ]; then mvnX=&quot;-X -DX&quot; ; fi
if [ &quot;${clean}&quot; = &quot;true&quot; ]; then mvnClean=clean ; fi

cd other_libraries/R

mvn ${MVN_OPTIONS} -X -B help:active-profiles -N
mvn ${MVN_OPTIONS} -X -B ${mvnClean} ${mvnAction} ${mvnX}
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
    <sorter class="hudson.matrix.NoopMatrixConfigurationSorter"/>
  </executionStrategy>
</matrix-project>