1 TYPELIB "npgex.rc"

1 VERSIONINFO
 FILEVERSION 0,0,0,1
 PRODUCTVERSION 0,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "GalaxySemi\0"
            VALUE "FileDescription", "npgex\0"
            VALUE "FileExtents", "g1n\0"
            VALUE "FileOpenName", "Graphable data (*.g1n)\0"
            VALUE "FileVersion", "1, 0, 0, 1\0"
            VALUE "InternalName", "grapher\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "MIMEType", "application/gex\0"
            VALUE "OriginalFilename", "npgex.dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "GalaxySemi QtBrowserPlugin\0"
            VALUE "ProductVersion", "0, 0, 0, 1\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
